@charset "UTF-8";
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

body {
  margin: 0;
  font-family: "Book Antiqua", "Yu Mincho";
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  margin: 150px 0;
  letter-spacing: 1px;
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  text-shadow: 0 0 15px #666;
  font-size: 45px;
  width: 100%;
}

h2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
  padding: 0 55px;
  font-size: 35px;
}
@media (max-width: 600px) {
  h2 {
    font-size: 40px;
    margin: 50px 0 20px 0;
  }
}
h2:before, h2:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 150px;
  height: 2px;
  border-top: solid 1px black;
}
h2:before {
  left: 0;
}
h2:after {
  right: 0;
}

h3 {
  position: relative;
  display: flex;
  padding: 0 55px;
  font-size: 25px;
  justify-content: center;
  margin: 20px 0;
}

section {
  opacity: 0;
  transition: 1s;
  margin: 20px;
  display: flex;
  justify-content: center;
  display: block;
}
@media (max-width: 600px) {
  section {
    margin: 20px 10px;
  }
}

.wrapper {
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.container {
  overflow: hidden;
}

.fade-in {
  opacity: 1;
}

.icon-color {
  color: #ffffff;
}

img:not([alt]) {
  border: 10px solid red;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  position: sticky;
  z-index: 1;
}
@media (max-width: 600px) {
  header {
    padding: 15px 0;
  }
}
header div {
  display: flex;
  justify-content: center;
}
header p {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin: 500px 0;
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  text-shadow: 0 0 15px #666;
  font-size: larger;
}
@media (max-width: 600px) {
  header p {
    padding: 0 20px;
    width: 100%;
  }
}

.header-wrapper a {
  margin: 10px 30px;
  text-decoration: none;
  color: #fafaff;
  font-size: 20px;
}
@media (max-width: 600px) {
  .header-wrapper a {
    font-size: 20px;
    margin: 20px;
  }
}
.header-wrapper a:hover {
  opacity: 0.5;
}

footer {
  width: 100vw;
  display: flex;
  bottom: 0;
  left: 0;
  background-color: black;
  justify-content: space-between;
}

.footer-sns-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}
.footer-sns-wrapper > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
}
.footer-sns-wrapper > a > i:first-child {
  margin-left: 20px;
}

.footer-copyright-wrapper {
  display: block;
  margin: auto 10px 10px 0;
}
@media (max-width: 600px) {
  .footer-copyright-wrapper {
    margin: 60px 10px 10px 0;
  }
}

.footer-copyright {
  margin-right: 20px;
  white-space: nowrap;
  font-size: 15px;
  color: #fafaff;
}

.main-wrapper {
  margin: 60px 20px;
}
@media (max-width: 600px) {
  .main-wrapper {
    margin: 40px 10px;
  }
}
.main-wrapper img {
  border-radius: 2%;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media (max-width: 600px) {
  .about-wrapper {
    display: inline-block;
    text-align: center;
  }
}
.about-wrapper > div {
  margin: 0;
}
@media (max-width: 600px) {
  .about-wrapper > div {
    display: inline-block;
    margin: 20px 25px 20px 10px;
  }
}
.about-wrapper > div > p {
  font-size: 25px;
  margin: 0;
}
.about-wrapper .about-img {
  display: flex;
  justify-content: right;
}
@media (max-width: 600px) {
  .about-wrapper .about-img {
    display: inline-block;
    width: 50%;
  }
}
.about-wrapper .about-img img {
  border-radius: 50%;
  width: 60%;
  height: auto;
}
@media (max-width: 600px) {
  .about-wrapper .about-img img {
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .about-wrapper .about-content > p {
    font-size: 35px;
    margin: 0;
  }
}
.about-wrapper ul {
  display: block;
  justify-content: left;
}

@media (max-width: 600px) {
  .hobby-wrapper {
    display: block;
  }
}
.hobby-wrapper img {
  border-radius: 2%;
}
.hobby-wrapper > div:nth-child(even) > p {
  order: 1;
}
.hobby-wrapper > div:nth-child(even) > img {
  order: 2;
}
.hobby-wrapper .hobby-contents {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
@media (max-width: 600px) {
  .hobby-wrapper .hobby-contents {
    display: block;
    justify-content: center;
    margin: 0;
  }
}
.hobby-wrapper .hobby-contents > img {
  border-radius: 2%;
  margin: 20px 10px;
  width: 40%;
}
@media (max-width: 600px) {
  .hobby-wrapper .hobby-contents > img {
    display: block;
    margin: 0;
    width: 100%;
    order: 1;
  }
}
.hobby-wrapper .hobby-contents-inner {
  display: inline-block;
  margin: 30px 0;
}
@media (max-width: 600px) {
  .hobby-wrapper .hobby-contents-inner {
    display: block;
  }
}
.hobby-wrapper .hobby-contents-inner > p {
  margin-top: 30px;
}
@media (max-width: 600px) {
  .hobby-wrapper .hobby-contents-inner > p {
    display: block;
    margin: 10px;
    order: 2;
  }
}
.hobby-wrapper .hobby-contents-more-wrapper {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 600px) {
  .hobby-wrapper .hobby-contents-more-wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .works-contents-wrapper {
    margin: 0px;
  }
}
.works-contents-wrapper .works-contents {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media (max-width: 600px) {
  .works-contents-wrapper .works-contents {
    display: block;
  }
}
.works-contents-wrapper .works-contents-inner {
  margin: 10px;
  display: flex;
  align-items: center;
}
.works-contents-wrapper > img {
  border-radius: 2%;
  width: 100%;
}

.work-skills-wrapper {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media (max-width: 600px) {
  .work-skills-wrapper {
    display: block;
  }
}
.work-skills-wrapper .work-skill {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 10px 0;
}
.work-skills-wrapper .work-skill-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.work-skills-wrapper .work-skill-icon {
  display: flex;
  justify-content: center;
}
.work-skills-wrapper .work-skill-icon img {
  width: 95px;
}
.work-skills-wrapper .work-skill-title {
  display: flex;
  justify-content: center;
  font-size: larger;
  margin: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 40px;
  text-decoration: none;
}

#page-top {
  position: fixed;
  bottom: 38px;
  right: 20px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 28px 24px;
  border-radius: 50%;
  display: none;
  border: #fafaff solid;
}

.more {
  display: inline;
  margin: 20px 0px 0px;
  padding: 5px 10px;
  border-radius: 2%;
}
.more > a {
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.more > a:link {
  text-decoration: none;
}
.more > a:hover {
  text-decoration: underline;
  color: gray;
}

.gallery {
  -moz-columns: 4;
       columns: 4;
  margin: 0;
}
@media (max-width: 900px) {
  .gallery {
    -moz-columns: 3;
         columns: 3;
  }
}
@media (max-width: 600px) {
  .gallery {
    -moz-columns: 2;
         columns: 2;
  }
}
.gallery li {
  margin-bottom: 20px;
  list-style: none;
}
.gallery img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

#pieChart {
  margin: 20px 0px;
}

.accordion-wrap {
  border-bottom: 1px solid #808080;
}
.accordion-wrap:first-of-type .accordion-text {
  display: block;
}

.accordion-item {
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 30px;
}

.accordion-header {
  transition: ease-in-out 100ms;
}

.accordion-text {
  width: 100%;
  display: none;
  padding-top: 5px;
  padding-bottom: 20px;
}

.fa {
  transition: ease-in-out 300ms;
}

.rotate-fa {
  transform: rotate(180deg);
}

.accordion-header .fa {
  float: right;
  line-height: 35px;
}

.accordion-color {
  color: #808080;
}

.accordion-no-bar {
  border-bottom: 0;
}

.tooltip {
  position: relative;
  cursor: pointer;
  padding: 0 5px;
  font-size: 0.9em;
  color: #4682b4;
}
.tooltip:hover .balloon-top {
  bottom: 100%;
  visibility: visible;
  opacity: 1;
}

.balloon-top {
  width: 150px;
  position: absolute;
  left: 50%;
  bottom: 80%;
  transform: translateX(-50%);
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 10px;
  background-color: #666;
  font-size: 0.7em;
  color: #fff;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: 0.5s all;
}
.balloon-top::before {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 12px solid #666;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translateX(-50%);
}

.video-area {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.77777778vh;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
}/*# sourceMappingURL=style.css.map */