body{
  position: relative;
  margin: 0;
  background-color: black;
}
footer{
  position: fixed;
}
main{
  position: relative;
}

@media screen  and (min-width: 768px) {
  .wrapper{
    /* overflow: hidden; */
    max-width: 1000px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  .history-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    /* margin: 150px 150px 0 0; */
  }
  .contents-wrapper{
    display: flex;
    position: absolute;
    justify-content: center;
    margin-right: 100px;
    width: 500px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
  }
  .orbit{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-right: lightgray 15px solid;
    border-radius: 50%;
    opacity: 0.4;
  }
  .main-contents-wrapper{
    position: absolute;
    display: block;
    justify-content: center;
    width: 350px;
    height: 50px;
    border-radius: 5%;
    padding: 200px 400px 250px 50px;
    background-size: contain;
    opacity: 0.5;
  }
  .main-text{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    color: rgba(255, 255, 255, 1);
  }
  .main-when{
    padding: 0;
    font-size: 30px;
    font-weight: bold;
  }
  .main-title{
    margin-top: 20px;
    font-weight: bold;
    font-size: 27px;
    white-space: nowrap;
    text-decoration: underline;
  }
  .main-content{
    font-size: 20px;
  }
  .circle{
    position: absolute;
    display: flex;
    top: -45px;
    left: -45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .circle > img{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 90px;
    height: 90px;
    opacity: 0.9;
    border: gray 2px solid;
    background: black;
    border-radius: 50%;
  }
}

@media screen and (max-width: 767px) {
  .wrapper{
    /* overflow: hidden; */
    max-width: 1000px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  .history-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  .contents-wrapper{
    display: flex;
    position: absolute;
    justify-content: center;
    margin-right: 250px;
    width: 500px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
  }
  .orbit{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-right: lightgray 15px solid;
    border-radius: 50%;
    opacity: 0.4;
  }
  .main-contents-wrapper{
    position: absolute;
    display: block;
    margin-top: 50px;
    justify-content: center;
    padding: 100px 120px 250px 10px;
    opacity: 0.5;
    background-size: contain;
  }
  .main-text{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    color: rgba(255, 255, 255, 1);
  }
  .main-when{
    padding: 0;
    font-size: 25px;
    font-weight: bold;
  }
  .main-title{
    margin-top: 20px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
  }
  .main-content{
    font-size: 15px;
  }
  .circle{
    position: absolute;
    display: flex;
    top: -45px;
    left: -45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .circle > img{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 90px;
    height: 90px;
    opacity: 0.9;
    border: gray 2px solid;
    background: black;
    border-radius: 50%;
  }
}