img:not([alt]) {
  border: 10px solid red;
}
body{
  position: relative;
  margin: 0;
  background-color: black;
}
.wrapper{
  /* overflow: hidden; */
  max-width: 1000px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
/* header */
header{
  display: flex;
  position: fixed;
  justify-content: right;
  width: 100%;
  padding: 20px 0;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
}
/* footer */
footer{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  justify-content: space-between;
}
.footer-sns-wrapper{  
  display: flex;
  justify-content: flex-start;
}
.footer-sns-wrapper > a{
  display: flex;
}
.footer-sns-wrapper > a > img:first-child{
  margin-left: 20px;
}
.footer-sns-wrapper > a > img{
  margin: auto 20px;
  border-radius: 50%;
  border: #fafaff solid 2px;
  width: 40%;
  height: 20%;
}
.footer-copyright-wrapper{
  display: block;
  margin: auto 10px 10px 0;
}
.footer-copyright{
  margin-top: 0;
  white-space: nowrap;
  font-size: 15px;
  color: #fafaff;
}
/* h1 */
h1{
  position: relative;
  display: flex;
  padding: 0 55px;
  font-size: 35px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
h1:before, h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 150px;
  height: 2px;
  border-top: solid 1px black;
}
h1:before {
  left:0;
}
h1:after {
  right: 0;
}
/* more */
.more{
  display: inline;
  margin: 20px 0px 0px 0px;
  padding: 5px 10px;
  border-radius: 5%;
}
.more > a{
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.more > a:link{
  text-decoration: none;
}
.more > a:hover{
  text-decoration: underline;
  color: gray;
}
/* padetop */
#page-top{    
  position: fixed;
  bottom: 38px;
  right: 20px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 28px 24px;  
  border-radius: 50%;
  font-family: "Noto Sans JP", sans-serif;
  display: none;
  border: #fafaff solid;
}
section{
  opacity: 0;
  transition: 1s;
}
.fade-in{
  opacity: 1;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.big-img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  max-width: 800px;
  margin: auto;
}
.close-btn{
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 40px;
  text-decoration: none;
}
main{
  position: relative;
}
.main-div{
  position: absolute;
  display: block;
  left: 0;
  margin-top: 20px;
  height: 8%;
  border: #333333 15px solid;
  border-radius: 0 50% 50% 0;
  padding: 200px 100px 250px 50px;
  background-image:
    linear-gradient(110deg, rgba(12,172,178,0.7) 50%,
    rgba(146,22,114,0.7) 50%), url('/images/history/history1.jpg');
  background-size: cover;
  opacity: 0.5;
}
.main-text{
  position: relative;
  margin: 0;
  /* font-size: 15px; */
  color: rgba(255, 255, 255, 1);
}
#main-when{
  padding: 0;
  font-size: 30px;
  font-weight: bold;
}
#main-title{
  font-size: 30px;
}
#main-content{
  /* margin-top: 20px; */
  font-size: 20px;
}
#history-1{
  position: absolute;
  /* top: 100px; */
}
#round-area{
  position: absolute;
  width: 300px;
  height: 300px;
  padding: 150px;
  /* padding-left: 300px; */
}
#round{
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-right: lightgray 15px solid;
  border-radius: 50%;
  opacity: 0.4;
}
.circle{
  position: absolute;
  display: none;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.circle > img{
  position: absolute;
  width: 90px;
  height: 90px;
  opacity: 0.9;
  border: gray 2px solid;
  background: black;
  border-radius: 50%;
  /* display: none; */
}
#circle-1{
  /* background: #E74C3C; */
}
#circle-2{
  /* background: blue; */
}
#circle-3{
  /* background: yellow; */
}
#circle-4{
  /* background: green; */
}
#circle-5{
  /* background: aquamarine; */
}
#circle-6{
  /* background: blueviolet; */
}
#circle-7{
  /* background: burlywood; */
}
#circle-8{
  /* background: #333333; */
}
#circle-9{
  /* background: coral; */
}
#circle-10{
  /* background: blueviolet; */
}
@media screen  and (min-width: 768px) {
  #main-img{
    margin: 200px 0 200px 10px;
    width: 50%;
    border-radius: 1%;
  }
  header > nav > a{
    margin: 10px 30px;
    font-size: 15px;
    text-decoration: none;
    color: #fafaff;
  }
  header > nav > a:hover{
    opacity: 0.5;
  }
  article > div{
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  article > div > img{
    border-radius: 1%;
    width: 100%;
  }
  section{
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  #mypict{
    display: flex;
    justify-content: right;
    /* text-align: right; */
  }
  #mypict > img{
    margin-right: 20px;
    justify-content: center;
    border-radius: 50%;
    width: 50%;
  }
  #about-section{
    display: flex;
  }
  #about-section > div{
    margin: 0;
  }
  #about-section > div > p{
    font-size: 25px;
    margin: 0;
  }
  #about-section > ul{
    display: block;
    justify-content: left;
  }
  section{
    display: block;
    margin: 20px;
  }
  .hobby-div{
    display: flex;
    justify-content: center;
    margin: 20px 30px;
  }
  .hobby-div > img{
    border-radius: 5%;
    margin: 20px 10px;
    width: 40%;
  }
  .hobby-text > p{
    margin: 30px 30px 80px 10px;
  }
  #hobby-section > div:nth-child(even) > p{
    order: 1;
  }
  #hobby-section > div:nth-child(even) > img{
    order: 2;
  }
  table{
    border-collapse: separate;
    border: 0;
    /* border-spacing: 3px; */
    width: 100%;
  }

  table th,table td{
    border-radius: 2px;
    text-align: center;
    padding: 5px 0;
  }
  table th{
    background-color: black;
    color: white;
    border: none;
    /* border:solid 1px darkgray; */
  }
  table td{
    background-color: #333333;
    border:solid 1px white;
    color: lightgray;
  }
  .works-contents{
    margin: 80px;
  }
  .works-contents > img{
    border-radius: 2%;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  body{
    margin-top: 80px;
    font-family: "Book Antiqua", "Yu Mincho";
  }
  h1{
    font-style: italic;
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 70px;
  }
  header > nav > a{
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #fafaff;
  }
  header > nav > a:hover{
    opacity: 0.5;
  }
  article > div{
    display: flex;
    justify-content: center;
    margin: 0;
  }
  article > div > img{
    width: 100%;
  }
  section{
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  #mypict{
    display: flex;
    justify-content: right;
    width: 40%;
  }
  #mypict > img{
    margin-right: 20px;
    justify-content: center;
    border-radius: 50%;
    width: 90%;
  }
  #about-section{
    display: flex;
  }
  #about-section > div{
    margin: 0;
  }
  #about-section > div > p{
    font-size: 35px;
    margin: 0;
    margin-top: 20px;
  }
  #about-section > ul{
    display: block;
    justify-content: left;
  }
  section{
    display: block;
    margin: 20px 0;
  }
  #hobby-section{
    display: block;
  }
  .hobby-div{
    display: block;
    justify-content: center;
    margin: 0;
  }
  .hobby-div > img{
    display: block;
    margin: 0;
    width: 100%;
    order: 1;
  }
  .hobby-div > p{
    display: block;
    margin: 10px 20px 100px;
    order: 2;
  }
  .works-contents{
    margin: 50px 0;
  }
  .works-text{
    margin: 0 0 100px 10px;
  }
  .works-contents > img{
    width: 100%;
  }
}