img:not([alt]) {
  border: 10px solid red;
}
body{
  margin: 0;
}
.wrapper{
  overflow: hidden;
  max-width: 1000px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
/* h1 */
h1{
  position: relative;
  display: flex;
  padding: 0 55px;
  font-size: 35px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
h1:before, h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 150px;
  height: 2px;
  border-top: solid 1px black;
}
h1:before {
  left:0;
}
h1:after {
  right: 0;
}
section{
  opacity: 0;
  transition: 1s;
}
.fade-in{
  opacity: 1;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.big-img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  max-width: 800px;
  margin: auto;
}
.close-btn{
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 40px;
  text-decoration: none;
}
@media screen  and (min-width: 768px) {
  body{
    margin-top: 100px;
  }
  section{
    margin: 20px;
    display: flex;
    justify-content: center;
    display: block;
    margin: 20px;
  }
  /* about */
  .about-img-wrapper{
    display: flex;
    justify-content: right;
    padding-right: 20px;
  }
  .about-img-wrapper > img{
    border-radius: 50%;
    width: 50%;
  }
  .about-wrapper{
    display: flex;
  }
  /* hobby */
  .hobby-wrapper > div:nth-child(even) > p{
    order: 1;
  }
  .hobby-wrapper > div:nth-child(even) > img{
    order: 2;
  }
  .about-wrapper > div{
    margin: 0;
  }
  .about-wrapper > div > p{
    font-size: 25px;
    margin: 0;
  }
  .about-wrapper > ul{
    display: block;
    justify-content: left;
  }
  .hobby-contents{
    display: flex;
    justify-content: center;
    margin: 20px 30px;
    max-width: 800px;
  }
  .hobby-contents > img{
    border-radius: 5%;
    margin: 20px 10px;
    width: 40%;
  }
  .hobby-contents-inner{
    display: inline-block;
    margin: 30px;
  }
  .hobby-contents-inner > p{
    margin-top: 30px;
  }
  .hobby-contents-more-wrapper{
    display: flex;
    justify-content: flex-end;
  }
  /* works */
  .works-contents{
    margin: 50px;
  }
  .works-contents > img{
    border-radius: 2%;
    width: 100%;
  }
  .works-contents-more-wrapper{
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 767px) {
  body{
    margin-top: 80px;
    font-family: "Book Antiqua", "Yu Mincho";
  }
  h1{
    font-style: italic;
    font-size: 40px;
    margin: 50px 0 20px 0;
  }
  section{
    margin: 0 10px;
  }
  .main-wrapper{
    margin: 0 10px;
  }
  .main-img{
    border-radius: 2%;
  }
  .about-wrapper{
    display: inline-block;
    text-align: center;
  }
  .about-wrapper > div{
    display: inline-block;
    margin: 20px 25px 20px 10px;
  }
  .about-img-wrapper{
    width: 50%;
  }
  .about-img-wrapper > img{
    border-radius: 50%;
    width: 90%;
  }
  .about-contents-wrapper > p{
    font-size: 35px;
    margin: 0;
  }
  .about-contents-list{
    display: inline-block;
    text-align: left;
  }
  .about-contents-list > li{
    font-size: 15px;
  }
  .hobby-wrapper{
    display: block;
  }
  .hobby-contents{
    display: block;
    justify-content: center;
    margin: 0;
  }
  .hobby-contents > img{
    display: block;
    margin: 0;
    border-radius: 2%;
    width: 100%;
    order: 1;
  }
  .hobby-contents-inner{
    display: block;
  }
  .hobby-contents-inner > p{
    display: block;
    margin: 10px;
    order: 2;
  }
  .hobby-contents-more-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .works-contents{
    margin: 50px 0 80px 0;
  }
  .works-contents-inner{
    margin: 10px;
  }
  .works-contents > img{
    border-radius: 2%;
    width: 100%;
  }
  .works-contents-more-wrapper{
    display: flex;
    justify-content: flex-end;
  }
}