@use 'responsive' as *;

body {
  margin: 0;
  font-family: "Book Antiqua", "Yu Mincho";
}

h1 {
  position:absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  margin: 150px 0;
  letter-spacing: 1px;
  transform: translateY(-50%) translateX(-50%);
  color:#fff;
  text-shadow: 0 0 15px #666;
  font-size: 45px;
  width: 100%;
}
  
h2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
  padding: 0 55px;
  font-size: 35px;
  @include respond(phone) {
    font-size: 40px;
    margin: 50px 0 20px 0;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 150px;
    height: 2px;
    border-top: solid 1px black;
  }
  
  &:before {
    left: 0;
  }
  
  &:after {
    right: 0;
  }
}

h3 {
  position: relative;
  display: flex;
  padding: 0 55px;
  font-size: 25px;
  justify-content: center;
  margin: 20px 0;
}

section {
  opacity: 0;
  transition: 1s;
  margin: 20px;
  display: flex;
  justify-content: center;
  display: block;
  @include respond(phone) {
    margin: 20px 10px;
  }
}

.wrapper {
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.container {
  overflow:hidden;
}

.fade-in {
  opacity: 1;
}

.icon-color {
  color: #ffffff;
}

img:not([alt]) {
  border: 10px solid red;
}
