@use '../common/responsive' as *;

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  position: sticky;
  z-index: 1;
  @include respond(phone) {
    padding: 15px 0;
  }

  div {
    display: flex;
    justify-content: center;
  }

  p {
    position:absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: 500px 0;
    transform: translateY(-50%) translateX(-50%);
    color:#fff;
    text-shadow: 0 0 15px #666;
    font-size: larger;
    @include respond(phone) {
      padding: 0 20px;
      width: 100%;
    }
  }
}

.header-wrapper {
  a {
    margin: 10px 30px;
    text-decoration: none;
    color: #fafaff;
    font-size: 20px;
    @include respond(phone) {
      font-size: 20px;
      margin: 20px;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}