header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  z-index: 1;
  h1, p {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color:#fff;
    text-shadow: 0 0 15px #666;
  }
  p {
    text-align: center;
    font-size: larger;
  }
}

.header-wrapper {
  a {
    text-decoration: none;
    color: #fafaff;
    &:hover {
      opacity: 0.5;
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 20px 0;
    h1 {
      letter-spacing: 1px;
      margin: 150px 0;
    }
    p {
      margin: 500px 0;
    }
  }
  .header-wrapper {
    a {
      font-size: 20px;
      margin: 10px 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    padding: 15px 0;
    h1 {
      margin: 100px 0;
    }
    p {
      margin: 550px 0;
    }
  }
  .header-wrapper {
    a {
      font-size: 20px;
      margin: 20px;
    }
  }
}
