.hobby-wrapper {
  img {
    border-radius: 2%;
  }
}
@media screen and (min-width: 768px) {
  .hobby-wrapper > div:nth-child(even) > {
    p {
      order: 1;
    }

    img {
      order: 2;
    }
  }

  .hobby-contents {
    display: flex;
    justify-content: center;
    margin: 20px 30px;

    > img {
      border-radius: 2%;
      margin: 20px 10px;
      width: 40%;
    }
  }

  .hobby-contents-inner {
    display: inline-block;
    margin: 30px;

    > p {
      margin-top: 30px;
    }
  }

  .hobby-contents-more-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .hobby-wrapper {
    display: block;
  }

  .hobby-contents {
    display: block;
    justify-content: center;
    margin: 0;

    > img {
      display: block;
      margin: 0;
      border-radius: 2%;
      width: 100%;
      order: 1;
    }
  }

  .hobby-contents-inner {
    display: block;

    > p {
      display: block;
      margin: 10px;
      order: 2;
    }
  }

  .hobby-contents-more-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
