@use '../common/responsive' as *;

.hobby-wrapper {
  @include respond(phone) {
    display: block;
  }

  img {
    border-radius: 2%;
  }

  > div:nth-child(even) > {
    p {
      order: 1;
    }
  
    img {
      order: 2;
    }
  }  

  .hobby-contents {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    @include respond(phone) {
      display: block;
      justify-content: center;
      margin: 0;
    }
  
    > img {
      border-radius: 2%;
      margin: 20px 10px;
      width: 40%;
      @include respond(phone) {
        display: block;
        margin: 0;
        width: 100%;
        order: 1;
      }  
    }

    &-inner {
      display: inline-block;
      margin: 30px 0;
      @include respond(phone) {
        display: block;
      }
      
      > p {
        margin-top: 30px;
        @include respond(phone) {
          display: block;
          margin: 10px;
          order: 2;
        }
      }
    }

    &-more-wrapper {
      display: flex;
      justify-content: flex-end;
      @include respond(phone) {
        margin-bottom: 20px;
      }
    }
  }
}