@use '../common/responsive' as *;

.works-contents-wrapper {
  @include respond(phone) {
    margin: 0px;
  }

  .works-contents {
    display: grid;
    grid-template-columns: 50% 50%;
    @include respond(phone) {
      display: block;
    }

    &-inner {
      margin: 10px;
      display: flex;
      align-items: center;
    }
  }

  > img {
    border-radius: 2%;
    width: 100%;
  }
}

.work-skills-wrapper {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  @include respond(phone) {
    display: block;
  }

  .work-skill {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 10px 0;
  
    &-left {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  
    &-icon {
      display: flex;
      justify-content: center;
    
      img {
        width: 95px;
      }
    }
  
    &-title {
      display: flex;
      justify-content: center;
      font-size: larger;
      margin: 0;
    }
  }
}