@media screen and (min-width: 768px) {
  .about-img-wrapper {
    display: flex;
    justify-content: right;
    padding-right: 20px;

    > img {
      border-radius: 50%;
      width: 60%;
      height: auto;
    }
  }

  .about-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;

    > {
      div {
        margin: 0;

        > p {
          font-size: 25px;
          margin: 0;
        }
      }

      ul {
        display: block;
        justify-content: left;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .about-wrapper {
    display: inline-block;
    text-align: center;

    > div {
      display: inline-block;
      margin: 20px 25px 20px 10px;
    }
  }

  .about-img-wrapper {
    width: 50%;

    > img {
      border-radius: 50%;
      width: 100%;
      height: auto;
    }
  }

  .about-contents-wrapper > p {
    font-size: 35px;
    margin: 0;
  }

  .about-contents-list {
    display: inline-block;
    text-align: left;

    > li {
      font-size: 15px;
    }
  }
}
