.orbit {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-right: lightgray 15px solid;
  border-radius: 50%;
  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .circle {
    position: absolute;
    display: flex;
    top: -45px;
    left: -45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 90px;
      height: 90px;
      opacity: 0.9;
      border: gray 2px solid;
      background: black;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .circle {
    position: absolute;
    display: flex;
    top: -45px;
    left: -45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 90px;
      height: 90px;
      opacity: 0.9;
      border: gray 2px solid;
      background: black;
      border-radius: 50%;
    }
  }
}
