.tooltip {
  position: relative;
  cursor: pointer;
  padding: 0 5px;
  font-size: 0.9em;
  color: #4682b4;
  
  &:hover {
    .balloon-top {
      bottom: 100%;
      visibility: visible;
      opacity: 1;
    }
  }
}

.balloon-top {
  width: 150px;
  position: absolute;
  left: 50%;
  bottom: 80%;
  transform: translateX(-50%);
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 10px;
  background-color: #666;
  font-size: 0.7em;
  color: #fff;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: 0.5s all;

    &::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 12px solid #666;
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
  }
}